{% load static %}

<footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 footer-copyright">
              <p class="mb-0">Copyright 2024 © Admiro theme by pixelstrap.</p>
            </div>
            <div class="col-md-6">
              <p class="float-end mb-0">Hand crafted &amp; made with
                <svg class="svg-color footer-icon">
                  <use href="{% static 'assets/svg/iconly-sprite.svg#heart' %}"></use>
                </svg>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- page body end  -->

  </div>




  <!-- jquery-->
  <script src="{% static 'assets/js/vendors/jquery/jquery.min.js' %}"></script>
  <!-- bootstrap js-->
  <script src="{% static 'assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}" defer=""></script>
  <script src="{% static 'assets/js/vendors/bootstrap/dist/js/popper.min.js' %}" defer=""></script>
  <!--fontawesome-->
  <script src="{% static 'assets/js/vendors/font-awesome/fontawesome-min.js' %}"></script>
  <!-- feather-->
  <script src="{% static 'assets/js/vendors/feather-icon/feather.min.js' %}"></script>
  <script src="{% static 'assets/js/vendors/feather-icon/custom-script.js' %}"></script>
  <!-- sidebar -->
  <script src="{% static 'assets/js/sidebar.js' %}"></script>
  <!-- height_equal-->
  <script src="{% static 'assets/js/height-equal.js' %}"></script>
  <!-- config-->
  <script src="{% static 'assets/js/config.js' %}"></script>
  <!-- apex-->
  <script src="{% static 'assets/js/chart/apex-chart/apex-chart.js' %}"></script>
  <script src="{% static 'assets/js/chart/apex-chart/stock-prices.js' %}"></script>
  <!-- scrollbar-->
  <script src="{% static 'assets/js/scrollbar/simplebar.js' %}"></script>
  <script src="{% static 'assets/js/scrollbar/custom.js' %}"></script>
  <!-- slick-->
  <script src="{% static 'assets/js/slick/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/slick/slick.js' %}"></script>
  <!-- data_table-->
  <script src="{% static 'assets/js/js-datatables/datatables/jquery.dataTables.min.js' %}"></script>
  <!-- page_datatable-->
  <script src="{% static 'assets/js/js-datatables/datatables/datatable.custom.js' %}"></script>
  <!-- page_datatable1-->
  <script src="{% static 'assets/js/js-datatables/datatables/datatable.custom1.js' %}"></script>
  <!-- page_datatable-->
  <script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
  <!-- theme_customizer-->
  <script src="{% static 'assets/js/theme-customizer/customizer.js' %}"></script>
  <!-- tilt-->
  <script src="{% static 'assets/js/animation/tilt/tilt.jquery.js' %}"></script>
  <!-- page_tilt-->
  <script src="{% static 'assets/js/animation/tilt/tilt-custom.js' %}"></script>
  <!-- dashboard_1-->
  <script src="{% static 'assets/js/dashboard/dashboard_1.js' %}"></script>


  
  <!-- datatable-->
  <script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
  <!-- datatable_extension-->
  <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/jszip.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/pdfmake.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/vfs_fonts.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.autoFill.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.select.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/buttons.html5.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.colReorder.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.scroller.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-extension/custom.js' %}"></script>
  <!-- custom script -->
  <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>